<!-- form handling -->
<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-secondary">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="">
        </div>
        <div class="form-group">
            <label for="Email" class="text-secondary">Email</label>
            <input type="text" name="email" value="">
        </div>
        <div class="form-group">
            <label for="location" class="text-secondary">Location</label>
            <input type="text" id="" name="location">
        </div>

        <div class="form-group">
            <label for="phone" class="text-secondary">phone</label>
            <input type="text" id="" name="phone">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">update</button>
        </div>

    </div>
</form>